<div *ngIf="gameState()?.ganador" class="pantalla-victoria">
  <ng-container *ngIf="myRole() !== GameRole.Espectador">
    <button (click)="reiniciarJuego()" class="btn-primary">Reiniciar Juego</button>
    <button (click)="volverAlMenu()" class="btn-primary">Volver al Menu</button>
  </ng-container>
</div>
<div class="contenedor" *ngIf="gameState()">
  <h2>Sala: {{ websocketService.roomId }}</h2>
  <h2 *ngIf="myRole() === GameRole.Espectador">{{ getNombreRol() }}</h2>
  <div class="info-wrapper">
    <div class="timer-container" *ngIf="gameState()?.configuracion?.temporizador && !gameState()?.ganador && gameState()?.ultimaActualizacionTurno">
      <div class="timer-circle" [class.danger]="tiempoRestante() <= 10">
        <span class="timer-text">{{ tiempoRestante() }}</span>
      </div>
    </div>
    <div class="info-configuracion">
      <p><strong>Turno de:</strong> {{ getNombreTurno() }}</p>
      <p><strong>Objetivo:</strong> {{ gameState()?.configuracion?.objetivo === 'mayoria' ? 'Mayoría de Triquis' : 'Triqui Doble' }}</p>
      <p><strong>Selección:</strong> {{ gameState()?.configuracion?.modoSeleccion === 'Aleatorio' ? 'Aleatorio' : 'Regla de Oro' }}</p>
      <p *ngIf="gameState()?.configuracion?.objetivo !== 'mayoria' && gameState()?.configuracion?.patronGanador"><strong>Patrón:</strong> {{ gameState()?.configuracion?.patronGanador }}</p>
      <p *ngIf="gameState()?.configuracion?.tablerosMoviles"><strong>Dinámico:</strong> Cada 10 turnos</p>
      <p *ngIf="gameState()?.configuracion?.robarTableros"><strong>Robar Tableros:</strong> Sí</p>
    </div>
  </div>
  <div class="tablero-grande">
    <div *ngFor="let tablero of gameState()!.tableros; trackBy: trackById" [style.view-transition-name]="'board-' + tablero.id" class="tablero-pequeno" [class.ganado-x]="tablero.ganador === GameRole.X" [class.ganado-o]="tablero.ganador === GameRole.O" [class.empatado]="tablero.ganador === GameRole.Empate" [class.activoX]="tableroActivo(tablero.id) && gameState()!.turnoActual === GameRole.X" [class.activoO]="tableroActivo(tablero.id) && gameState()!.turnoActual === GameRole.O" [class.objetivo]="animarPatron() && tableroObjetivo(tablero.id)">
      <div *ngIf="tablero.ganador" class="tablero-ganador">{{ tablero.ganador }}</div>
      <div *ngFor="let celda of tablero.celdas" class="celda" (click)="movimiento(tablero.id, celda.id)">{{ celda.valor }}</div>
    </div>
  </div>
  <button (click)="rendirse()" class="btn-primary" *ngIf="gameState()!.tableroActivo !== null && myRole() !== GameRole.Espectador">Rendirse</button>
</div>
