<div class="contenedor">
  <h2>Turno de: {{ gameState.turnoActual }}</h2>
  <div class="tablero-grande">
    <div *ngFor="let tablero of gameState.tableros" class="tablero-pequeno" [class.ganado-x]="tablero.ganador === 'X'" [class.ganado-o]="tablero.ganador === 'O'" [class.activo]="tablero.habilitado">
      <div *ngIf="tablero.ganador" class="tablero-ganador">{{ tablero.ganador }}</div>
      <div *ngFor="let celda of tablero.celdas" class="celda" (click)="movimiento(tablero.id, celda.id)">{{ celda.valor }}</div>
    </div>
  </div>
</div>
