name: Deploy Frontend to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"
          cache-dependency-path: triqui_doble_frontend/package-lock.json

      - name: Install dependencies
        working-directory: ./triqui_doble_frontend
        run: npm ci

      - name: Build Angular App
        working-directory: ./triqui_doble_frontend
        run: npm run build -- --configuration production --base-href /Triqui_Doble/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./triqui_doble_frontend/dist/triqui_doble_frontend
