:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primary);
}

p {
  font-size: 0.9rem;
  color: var(--text-gray);
  cursor: pointer;
  transition: color 0.3s ease;
}

.login-container {
  width: 350px;
  text-align: center;
  animation: fadeInUp 0.8s ease-out;
}

p:hover {
  color: var(--primary);
  text-decoration: underline;
}
